* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 5px;
  margin: 5px;
}

article {
  padding: 10px;
  margin: 10px;
  /*border-radius: 5%;*/
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  border-radius: 25px;
  border-color: #082525(200, 188, 182);
  display: inline-block;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Styling af knapper på billeder OG billeder*/
.box {
  display: grid;
}
.box button {
  place-self: center center;
  text-align: center;
  background-color: #93552a;
  cursor: pointer;
  border: none;
  grid-area: 1/1;
  margin: 2em 0 0 1.2em;
  text-transform: capitalize;
  color: white;
  border-radius: 12px;
  width: 190px;
  height: 40px;
  font-family: "Source Serif Pro";
}
/*Styling af billeder til artikel*/
.box img {
  /*Billede størrelse*/
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
  height: 250px;
  border: 2px solid #082525;
  grid-area: 1/1;
}

/*Styling af splash*/
#splash {
  display: grid;
}

#splash img {
  width: 100%;
  object-fit: cover;
  grid-row: 1;
  grid-column: 1;
}

#splash h1 {
  object-fit: cover;
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  color: white;
  font-size: 3rem;
  min-width: 600;
  text-align: center;
}

h1 {
  padding: 20px;
  text-align: center;
  background: rgb(218, 211, 202);
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Cinzel Decorative";
}

h2 {
  font-family: "Cinzel Decorative";
}

h3 {
  font-family: "Source Serif Pro";
}

/*styling af kategorimenu*/
#banner button:hover {
  background-color: #dfc9b9;
}
.active {
  background-color: #dfc9b9;
}

#banner {
  display: flex;
  align-items: center;
}

#banner button {
  margin: 2em 0 0 1.2em;
  text-transform: capitalize;
  color: white;
  background-color: #343f32;
  border-radius: 12px;
  width: 190px;
  height: 40px;
  text-align: center;
  font-family: "Source Serif Pro";
  cursor: pointer;
  border: none;
}

/*Styling af burgermenu*/

.menu_knap,
.menu {
  z-index: 100;
}

.menu_knap {
  font-family: "Major Mono Display", monospace;
  font-size: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  color: rgb(204, 161, 111);
  margin: 0;
  padding: 0;
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-bottom-right-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  animation: not-checked-anim 0.2s both;
  transition: 0.2s;
}

.hide {
  display: none;
}

.knap:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.knap {
  background-color: white;
  padding: 1rem 2rem;
  border: dotted black 1px;
  box-shadow: gray 0.5rem 0.5rem;
  text-decoration: none;
  color: black;
}

.boxed {
  text-align: center;
}

.menu {
  font-family: "Major Mono Display", monospace;
  font-weight: lighter;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: transform 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.knap:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.knap {
  background-color: white;
  padding: 1rem 2rem;
  border: dotted black 1px;
  box-shadow: gray 0.5rem 0.5rem;
  text-decoration: none;
  color: black;
}

.boxed {
  text-align: center;
}

@media (min-width: 600px) {
  header nav ul {
    display: flex;
    flex-flow: wrap;
    gap: 30px;
    list-style: none;
    padding: 0;
    overflow-x: auto;
  }
}

/*Styling af tilbage til toppen knap*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(167, 167, 167); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.topnav {
  background-color: rgb(218, 211, 202);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 23px 16px;
  text-decoration: none;
  font-size: 17px;
}
