* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 5px;
  margin: 5px;
}

article {
  padding: 10px;
  margin: 10px;
  /*border-radius: 5%;*/
  background-color: rgb(255, 255, 255);
  border: 0.6px solid #092626;
  border-radius: 25px;
  display: inline-block;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin: 1rem;
  cursor: pointer;
}

article:hover {
  box-shadow: 1px 1px 31px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 31px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 31px -9px rgba(0, 0, 0, 0.75);
}

/*Styling af fonte*/
/*Mobil versiom*/
h1 {
  padding: 20px;
  text-align: center;
  background: #dfc9b9;
  color: #092626;
  font-size: 2rem;
  font-family: "Cinzel Decorative";
}

h2 {
  font-family: "Cinzel Decorative";
  font-size: 1.1rem;
  padding: 0.2rem;
  color: #092626;
}

h3 {
  font-family: "Source Serif Pro";
  font-size: 1rem;
  padding: 0.2rem;
  color: #092626;
}

p {
  font-family: "Source Serif Pro";
  font-size: 0.8rem;
  padding: 0.2rem;
  color: #092626;
  line-height: 1.6;
}
/*Tablet version*/
/*======Media tablet version======*/
@media (min-width: 400px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }
  .tekstramme {
    height: 200px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    border: 0.6px solid #092626;
    grid-area: 1/1;
    padding: 20px;
  }
}

/*======Media Web version======*/
@media (min-width: 700px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
  .tekstramme {
    height: 290px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    border: 0.6px solid #092626;
    grid-area: 1/1;
    padding: 20px;
  }
}

/*Styling af knapper på billeder OG billeder*/
.box {
  display: grid;
  margin: 0.2rem;
}
.box button {
  place-self: center center;
  background-color: #93552a;
  border: none;
  grid-area: 1/1;
  margin: 2em 0 0 1.2em;
  text-transform: capitalize;
  color: white;
  border-radius: 2rem;
  width: 190px;
  height: 40px;
  font-family: "Source Serif Pro";
}
/*Styling af billeder til artikel*/
.box img {
  /*Billede størrelse*/
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
  height: 250px;
  border: 0.6px solid #092626;
  grid-area: 1/1;
  margin-bottom: 1rem;
}

/*Styling af ramme om teksten*/
@media (max-width: 400px) {
  .tekstramme {
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    height: fit-content;
    border: 0.6px solid #092626;
    grid-area: 1/1;
    padding: 20px;
  }
}

/*Styling af splash*/
#splash {
  display: grid;
}

/*Styling af skrift på splash*/
.mufasasafari {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-family: "Cinzel Decorative";
  color: white;
}
/*___logo på splashbilledet___*/
.logo2 {
  background-image: url(logo2.svg);
  aspect-ratio: 490/490;
  position: absolute;
  width: 50%;
  height: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 2%;
  left: 88%;
  width: 10%;
  cursor: pointer;
}
/*Hover effekt på logo*/
.logo2:hover {
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes pulse_kf {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

#splash img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  grid-row: 1;
  grid-column: 1;
}

#splash h1 {
  object-fit: cover;
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  color: white;
  font-size: 3rem;
  min-width: 600;
  text-align: center;
}

/*styling af kategorimenu*/
#banner button:hover {
  background-color: #dfc9b9;
}

#banner {
  text-align: center;
}

#banner button {
  margin: 2em 0 0 1.2em;
  text-transform: capitalize;
  color: white;
  background-color: #343f32;
  border-radius: 2rem;
  width: 190px;
  height: 40px;
  text-align: center;
  font-family: "Source Serif Pro";
  cursor: pointer;
  border: none;
}

/*Styling af tilbage til toppen knap*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #93552a; /* Set a background color */
  opacity: 80%;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 25px; /* Some padding */
  border-radius: 70px; /* Rounded corners */
  font-size: 15px; /* Increase font size */
}

#myBtn:hover {
  background-color: #dfc9b9; /* Add a dark-grey background on hover */
}

/*Styling af popup/modal*/
#modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #00000055;
  justify-content: center;
  align-items: center;
}

#modal article {
  max-width: 700px;
  margin: 2em, auto;
  background-color: white;
}

#modal button {
  text-transform: capitalize;
  color: white;
  background-color: #343f32;
  border-radius: 12px;
  width: 190px;
  height: 40px;
  text-align: center;
  font-family: "Source Serif Pro";
  cursor: pointer;
  border: none;
}
#modal button:hover {
  background-color: #dfc9b9;
}
